* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif; /* Default font is Montserrat */
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

/* Blog Heading Styles */
.heading {
  font-family: "Oswald", sans-serif; /* Use Oswald font for the heading */
  font-size: 36px;
  margin-bottom: 20px;
}

/* Blog Image Styling */
.blog-image {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-bottom: 20px;
}

/* Blog Paragraph Styling */
.paragraph {
  font-family: "Montserrat", sans-serif; /* Montserrat for paragraph */
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

.container-box {
  border: 2px solid black;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: bold;
}

ol {
  margin-left: 20px;
}

ol li {
  font-size: 18px;
  margin-bottom: 10px;
}
